.wave {
    width: 800px;
    height: 200px;
    position: relative;
  }
  
  .wave:after {
      content: '';
      width: 50%;
      position: absolute;
      height: 200px;
      display: block;
      border-bottom: 9px solid black;
      border-radius: 50%;
      right: 50%;
  }
  
  .wave:before {
      content: '';
      width: 50%;
      position: absolute;
      height: 200px;
      display: block;
      border-top: 9px solid black;
      border-radius: 50%;
  }