.wave {
  width: 200px;
  height: 100px;
  position: relative;
}

.wave:after {
    content: '';
    width: 50%;
    position: absolute;
    height: 200px;
    display: block;
    border-bottom: 5px solid black;
    border-radius: 50%;
    left: 50%;
}

.wave:before {
    content: '';
    width: 50%;
    position: absolute;
    height: 200px;
    display: block;
    border-top: 5px solid black;
    border-radius: 50%;
}